In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({"A": ["a", 1, 2, 3]})

In [3]:
df

   A
0  a
1  1
2  2
3  3

In [4]:
df = df.iloc[1:]

In [5]:
df

   A
1  1
2  2
3  3

In [6]:
df.dtypes

A    object
dtype: object

In [7]:
df.infer_objects().dtypes

A    int64
dtype: object